<div class="row">
  <div class="medium-12 columns">
    <h2>Your Schedule</h2>
    <div class="row">
      <% # noinspection RubyStringKeysInHashInspection
         day_remap = {
          'Sunday' => 'U',
          'Monday' => 'M',
          'Tuesday' => 'T',
          'Wednesday' => 'W',
          'Thursday' => 'R',
          'Friday' => 'F',
          'Saturday' => 'S'
      }
      unless
      %>
      <% Date::DAYNAMES.each do |day| %>
        <% if day != 'Saturday' and day != 'Sunday' and %>
          <div class="medium-2 offset-2 columns space" align="center">
            <%= day %>
            <% @schedule.sections.order(start_time: :asc).each do |section| %>
              <% unless section.rpt_pattern.index(day_remap[day]).nil? %>
                <span class="label block">
                  <%= section.course.instructional_unit + ' ' + section.course.course_number %>
                  <br/>
                  <%= section.location.name + ' ' + section.room %>
                  <br />
                  <%= section.person.name %>
                </span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div class="medium-2 offset-2 columns space" align="center">Saturday/Sunday</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <div id="map"></div>
    <script type="text/javascript">
      var map = L.map('map').setView([39.9833, -82.9833], 13);
      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18
      }).addTo(map);

      var dir = MQ.routing.directions();

      dir.route({
        locations: [
          { latLng: { lat: 40.001984, lng: -83.016046 } },
          { latLng: { lat: 40.002572, lng: -83.015247 } },
          { latLng: { lat: 40.001653, lng: -83.013383 } }
        ],
        options: {routeType:'pedestrian'}
      });

      map.addLayer(MQ.routing.routeLayer({
        directions: dir,
        fitBounds: true,
        ribbonOptions: {
          ribbonDisplay: { color: '#00FF00', opacity: 0.3 }
        }
      }));
    </script>
  </div>
</div>