<div class="row">
  <div class="medium-8 columns">
    <%= link_to @completion, {action: 'show', id: @completion.id} -%>
    <%= link_to 'Edit', {action: 'edit', id: @completion.id} %> 
    <%= link_to "Delete", {action:  'delete', id: @completion.id},
    confirm:  "Are you sure you want to delete this item?" %>

  </div>
</div>