<div class="row">
  <div class="medium-8 columns">
    <h1>Editing completion</h1>
      <%= render 'form' %>
  </div>
  <div class="medium-4 columns">
    <h3>Actions</h3>
    <ul class="side-nav panel">
      <li><%= link_to 'Delete', @completion, method: :delete %></li>
      <li><%= link_to 'Cancel', completion_path(@completion) %></li>
    </ul>
  </div>
</div>