<div class="row">
  <div class="medium-8 columns">
    <h2>Completed courses</h2>
    <table style="width:100%">
      <thead>
        <tr>
          <th>Course (click to edit)</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
      <% @completions.each do |completion| %>
      <tr>
        <td><%= link_to String.new << completion.course.instructional_unit << ' ' << completion.course.course_number, edit_completion_path(completion) %></td>
        <td><%= completion.grade %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="medium-4 columns">
    <h3>Actions</h3>
    <ul class="side-nav panel">
      <li><%= link_to 'Add a completed course', new_completion_path %></li>
    </ul>
  </div>
</div>