<div class="row">
  <div class="medium-8 columns">
    <h2>Completed courses</h2>
    <ul>
      <% @completions.each do |completion| %>
      <li><%= link_to String.new << completion.course.instructional_unit << ' ' << completion.course.course_number << ' - ' << completion.grade, edit_completion_path(completion) %></li>
      <% end %>
    </ul>
  </div>
  <div class="medium-4 columns">
    <h3>Actions</h3>
    <ul class="side-nav panel">
      <li><%= link_to 'Add a completed course', new_completion_path %></li>
    </ul>
  </div>
</div>