<div class="row">
  <div class="medium-8 columns">
    <%= render 'form' %>
  </div>
   <div class="medium-4 columns">
    <h3>Actions</h3>
    <ul class="side-nav panel">
      <li><%= link_to 'Back', completions_path %></li>
    </ul>
  </div>
</div>