<div class="row">
  <div class="medium-8 columns">
    <p>
     <h2><%= @completion.course.instructional_unit + ' ' + @completion.course.course_number + ' - ' + @completion.course.name %></h2>
     <h3>Grade: <%= @completion.grade %></h3>
    </p>
</div>
    <div class="medium-4 columns">
      <h3>Actions</h3>
      <ul class="side-nav panel">
    <li><%= link_to 'Edit', edit_completion_path(@completion) %></li>
    <li><%= link_to 'Back', completions_path %></li>
  </div>
</div>