<div class="row">
  <div class="medium-12 columns">
 		CollegeReaper eliminates the hassle of creating the perfect class schedule. By giving your college  information, CollegeReaper will be able to build a collection of schedules to choose from that fit your requirements for your major and/or minor. CollegeReaper has the unique feature of allowing you to enter specific preferences, whether it be taking certain courses, keeping walking distance to a minimum, or scheduling a distinct time frame. CollegeReaper will also keep track of all the courses you have completed and the grades that you recieved. CollegeReaper makes the perfect schedule for you!
  </div>
 </div>