<div class="row">
  <div class="medium-12 columns">
    <h2>Contact Us</h2>
    <p>If you have any questions about CollegeReaper, please email us at <a href="mailto:contact@college-reaper.dev">contact@college-reaper.dev</a>.</p>
  </div>
</div>