<div class="row">
  <div class="large-12 columns">
    <ul class="example-orbit" data-orbit>
      <li>
        <img src="/assets/20140728_104002.jpg">
        <div class="orbit-caption">
          Now supporting OSU! Relax and let us do the busy work - scheduling made easy for all Buckeyes.
        </div>
      </li>
      <li>

        <img src="/assets/20140730_065653.jpg">
        <div class="orbit-caption">
          Don't get buried in scheduling paperwork! Sign up and Reap the benefits of automated scheduling.
        </div>
      </li>
    </ul>
  </div>
</div>
<hr />
<div class="row">
  <div class="large-4 columns">
    <h4>Easy</h4>
    <p>Every term, instead of navigating a myriad web of dependencies by hand to pick your courses, our automated scheduling system will fill your schedule out for you based on the courses you still need to take.</p>
  </div>
  <div class="large-4 columns">
    <h4>Personalized</h4>
    <p>Setting your preferences is easy with our step-by-step wizard. Once entered, only the best schedules with exactly the attributes you wanted will be generated and displayed for you to review.</p>
  </div>
  <div class="large-4 columns">
    <h4>Fast</h4>
    <p>By using advanced genetic algorithms, the Reaper system takes the lengthy and difficult task of designing an optimal schedule and reduces it to just a few easy clicks of the mouse!</p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h4>Get in touch!</h4>
      <div class="row">
        <div class="large-9 columns">
          <p>We'd love to hear from you if you have any feedback or questions about the system!</p>
        </div>
        <div class="large-3 columns">
          <a href="/contact" class="radius button right">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>